{padding: 0 margin:0; }
#main{
	display: grid;
	grid-template-rows: 15vh 10vh 55vh 20vh;
	grid-template-areas: "header""nav" "content" "footer";
	}
	.mainHeader{ grid-area: header; background: #B3A8C5; }
	.mainNav{ grid-area: nav; background: #9D0B34; }
	.mainContent{ grid-area: content; background: white; }
	.mainFooter{ grid-area: footer; background: #B3A8C5; }

	/*breakingpoints
	@media screen and (max-width: 768px){}*/

header h1{
	color: #000000;
	text-decoration: none;
	font-family: Times new roman, sans-serif;
	font-size: 5vh;
	text-align: left;
   	margin-top: center;
   	margin-left: 30vh;
   	padding:  none;
	border: none;
	}
img {
 width: 20vh;
 height: 10vh;
 position: relative; ;
 object-position: top;
 float: left;
 margin: 2.5vh 5vh;
}
